@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');

*{
    -web-kit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
   padding:0px;
   margin:0px;
font-family: 'Open Sans', sans-serif;   
}
   html {
     scroll-behavior: smooth;
    }
   body{
       float: left;
       width: 100%;
       margin:0px;
   }
   .custom_container{
       max-width: 1170px;
       margin: 0px auto;
    }
    .login_container{
        max-width: 430px;
        margin: 0px auto;
     }
/* Header style start */
header{
    float: left;
    width: 100%;
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 40px;
    }
    .header_bar{
        display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 10px;
    align-items: center;
    }
    .header_bar .logo a{
    
        font-size: 36px;
        color: #ff4038;
        text-decoration: none;
        font-weight: lighter;
    }
    .header_bar .logo a span{
       font-weight: bold;
        font-size: 36px;
        color: #ff4038;
    }
    
    .header_bar .nav_bar ul{
        display: flex;
        justify-content: space-between;
        margin:0px;
    }
    .header_bar .nav_bar ul li{
        list-style: none;
        padding:0px 15px;
    }
    .header_bar .nav_bar ul li a{
        font-size: 17px;
        color: #000;
        font-weight: normal;
        padding: 0px;
        font-weight: lighter;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        text-decoration: none;
    }
    .header_bar .nav_bar ul li a:hover{
        color: #ff4038;
        transition: all 0.4s ease-in-out;
    }
    .header_bar .nav_bar ul li a span{
        border: 1px solid #ff4038 !important;
        color: #ff4038;
        border-radius: 50px;
        padding: 4px 20px !important;
        transition: all 0.4s ease-in-out;
        cursor: pointer;
    }
    .header_bar .nav_bar ul li a span:hover{
        background-color:#ff4038 ;
        transition: all 0.4s ease-in-out;
        color: #fff;
    }
    .header_bar .nav_btn{
        display: none;
        background: none;
        border: 2px solid gray;
        padding: 5px 11px;
        transition: all 0.4s ease-in-out;
        cursor: pointer;
    }
    .header_bar .nav_btn:hover{
        border: 2px solid #ff4038;
        transition: all 0.4s ease-in-out;
    }
    .header_bar .nav_btn:hover i{
       color: #ff4038;
       transition: all 0.4s ease-in-out;
    }
    .header_bar .nav_btn i{
        font-size: 20px;
    color: gray;
    transition: all 0.4s ease-in-out;
    }

    
    .responsive_nav_bar{
        position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
    min-width: 100%;
    height: 100vh;
    background: rgba(255,255,255, 1);
    padding: 30px 20px;
        }

        .responsive_nav_bar.responsive_bar{
            transform: translateX(0%);
        }
          
       
        .cancle_nav{
            float:left;
            width: 100%;
            margin-bottom: 10px;
            text-align: right;
        }
        .cancle_nav a{
          text-decoration: none;
          color: #3e4958;
          font-size: 25px;
          cursor: pointer;
        }
        .responsive_nav{
            float:left;
            width: 100%;
            margin-bottom: 15px;
        }
        .responsive_nav ul{
            display: flex;
            flex-direction: column;
           margin: 0px;
            width: 100%;
        }
        .responsive_nav ul li{
            list-style: none;
            width: 100%;
            display: block;
            padding: 10px 0px;
        }
        .responsive_nav ul li a{
            font-size: 17px;
        color: #000;
        font-weight: normal;
        padding: 0px;
        font-weight: lighter;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        text-decoration: none;
            
           
        }
        .responsive_nav ul li a:hover{
            color: #09afee;
            transition: all 0.4s ease-in-out;
        }
        .responsive_nav ul li a:hover{
            color: #ff4038;
            transition: all 0.4s ease-in-out;
        }
        .responsive_nav_bar .resonsive_nav_btn{
          display: flex;
          justify-content: center;
          width: 100%;
        }
        .responsive_nav_bar .resonsive_nav_btn a{
            text-decoration: none;
            padding: 4px 10px !important;
            border: none;
        }
        .responsive_nav_bar .resonsive_nav_btn a span{
            border: 1px solid #ff4038 !important;
            color: #ff4038;
            border-radius: 50px;
            padding: 4px 20px !important;
            transition: all 0.4s ease-in-out;
            cursor: pointer;
        }
        .responsive_nav_bar .resonsive_nav_btn a span:hover{
            background-color:#ff4038 ;
            transition: all 0.4s ease-in-out;
            color: #fff;
        }

    /* Header style End  */

.login_section{
    float: left;
    width: 100%;
    padding: 0px 10px;
}
.login_section h2{
    font-size: 24px;
    color: #000;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_section .login_form{
    float: left;
    width: 100%;
    background: #f7f7f7;
    padding: 30px 30px;
    margin-bottom: 10px;
}
.login_section .login_form form .input_field{
display: flex;
flex-direction: column;
}
.login_section .login_form form .input_field input{

    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
     margin-bottom: 20px;
     outline: none;
}
.login_section .login_form form .input_field input:focus{
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 50%);
    outline: 1px solid #5696dbd4;
     transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.login_section .login_form form .submit_btn{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 20px;
}
.login_section .login_form form .submit_btn button{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border: 1px solid transparent;
    padding: 6px 45px;
    cursor: pointer;
    user-select: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
     border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
     font-size: 17px;
     border-radius: 4px;
    }
    .login_section .login_form form .submit_btn button:hover{
        color: #fff;
        background-color: #0069d9;
        border-color: #0062cc;
    }
    .login_section .login_form form .submit_btn button:focus{
        box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 50%);
    }
    .login_form .sign_up_btn{
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    .login_form .sign_up_btn span a{
        text-decoration: none;
        color: #0069d9;
        cursor: pointer;
    }
    .login_form .forgot_pass{
        display: flex;
        justify-content: center;
    }
    .login_form .forgot_pass a{
        text-decoration: none;
        color: #0069d9;
        cursor: pointer;
    }
    .login_section .policy_check{

        float: left;
        width: 100%;
        text-align: center;
        font-size: 14px;

    }
    .login_section .policy_check p{
        padding: 10px 36px;
line-height: 29px;
    }
    .login_section .policy_check p a{
        text-decoration: none;
        color: #0069d9;
        cursor: pointer;
    }
/*RESPONSIVE*/

/*Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {

    .header_bar .nav_bar{
            display: block;
        }
        .header_bar{
            flex-direction: column;   
        }

    }





/*mobile rotation*/
@media (max-width: 767px) {
    .header_bar .nav_btn{
        display: block;
        }
       .header_bar .nav_bar{
            display: none;
        }


    }

/*mobile*/
@media (max-width: 540px) { 
    .header_bar .nav_btn{
        display: block;
        }
        .header_bar .nav_bar{
            display: none;
        }

    }

    @media (max-width: 325px) { 

        .header_bar .logo a {
            font-size: 30px;
        }
        .header_bar .logo a span {
            font-size: 30px;
        }

        
    }